* {
    margin: 0px;
    padding: 10px;


}
.wrapper {
    background-color: white ;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    align-items: center;
}
h1 {
    color: blueviolet;
    text-align: center;

}
#btnsubmit {
    background-color: cornflowerblue;
    border-radius: 10%;
}
body {
    background-image: url(image/spot777.jpg);
   
    display: flex;
    border: 10px;
}
input {
    border-radius: 10px;
    align-items: center;
}
